@import '../../shared/styles/global';

#top__navigation {
	width: 100%;
	height: 70px;
	display: grid;
	grid-template-columns: auto 150px auto;
	overflow-y: hidden;

	a {
		position: relative;
		padding-top: 20px;
		color: $primary-color;
		text-decoration: none;
		font-size: 18px;
		font-weight: bold;

		&:hover {
			background-color: $secondary-color;
		}
	}
	.top__nav_grid_item {
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
		min-width: 100%;
		background-color: $extra-color;
	}
	#top__nav_logo {
		border-left: 1px solid #000;
		border-right: 1px solid #000;
	}
}

#alert_error {
	display: none;
	text-align: center;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	position: fixed;
	z-index: 5;
}

#login {
    position: relative;
    margin: 50px 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border: 2px solid blue;
    border-radius: 10px;
    width:50%;
    min-width: 300px;
    height: 400px;

    &_title {
        text-align: center;
    }
    &_submit {
        text-align: center;
        margin-bottom: 20px;
    }
    a {
        display: block;
        text-align: center;
    }
    .login_field {
        margin: 20px;
    }
}

@media (max-width: 600px) {
	#footer__container {
		height: 535px;
	}
}
@media (max-width: 500px) {
	#footer__container {
		height: 535px;
	}
}
@media (max-width: 420px) {
	#footer__container {
		height: 700px;
	}
}
@media (max-width: 340px) {
	#footer__container {
		height: 720px;
	}
}
